.bg-img{
    background-image:url("download.jpg");
    background-position:center;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
}
.bg-text{
    position: absolute;
    border-radius: 13%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 80px 40px;
	background: rgba(38, 170, 5, 0.295);
    width:max-content;
}
.bg-text input[type=text],.bg-text input[type=password]{
    border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: rgb(5, 4, 51);
	font-size: 16px;
}
.bg-text ::placeholder{
    color:rgba(255, 0, 0, 0.61);
}
.bg-sub button[type=submit]{
        background-color: #dcdf0b7e;
        border: none;
        color: rgb(0, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 1px;
        cursor: pointer;
        border-radius:20px;
}
.bg-sub button[type=reset]{
    background-color:rgb(252, 252, 252);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px;
    cursor: pointer;
    border-radius:20px;
}
.bg-sub{
    position: absolute;
    border-radius: 13%;
	top: 50%;
	left: 49%;
	transform: translate(-50%, 50%);
	height: 10%;
	padding: 60px 60px;
	background:transparent;
}
.bg-text img{
    height:150px;
    width:150px;
    border-radius:50%;
    position:absolute;
    left:27%;
    top:-20%;
    align-self: center;
}
#err{
    color:rgba(255, 0, 0, 0.548);
    font-size: 10px;
    display:none;
}
#pass{
    color:rgba(247, 0, 0, 0.582);
    font-size:10px;
    display:none;
}
#req{
    color:rgba(255, 0, 0, 0.521);
    font-size:10px;
    display:none;
}
#box{
    color:rgb(0, 0, 0);
    background-color: rgba(211, 211, 211, 0);
    align-content:left;
    padding-right:2%;
}
#forget{
    color:rgba(124, 122, 255, 0.459);
}
#passwordreq{
    color:rgba(252, 0, 0, 0.555);
    font-size:10px;
    display:none;
}
#login{
    width:400%;
}