.app{
  background-image: url(download.jpg);
}
.login{
  margin-top: 15%;
  position: absolute;
  border-radius: 13%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 40px;
  background: rgba(38, 170, 5, 0.295);
  width:max-content;
  color:lightcoral
}
#submit{
  background-color: #dcdf0b7e;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius:20px;
}
.div2{
  position: absolute;
  border-radius: 13%;
  top: 50%;
  left: 49%;
  transform: translate(-50%, 50%);
  height: 10%;
  padding: 60px 60px;
  background:transparent;
}
.login input[type=email],.login input[type=password]{
  border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: rgb(5, 4, 51);
font-size: 16px;
}
.login ::placeholder{
  color:rgba(22, 123, 240, 0.507);
}
#usererror{
  color:rgba(252, 0, 0, 0.555);
    font-size:10px;
    display:none;
}
#required{
  color:rgba(252, 0, 0, 0.555);
    font-size:10px;
    /* display:none; */
}
#passwordinvalid{
  color:rgba(252, 0, 0, 0.555);
    font-size:10px;
    /* display:none; */
}
#passwordrequired{
  color:rgba(252, 0, 0, 0.555);
    font-size:10px;
    display:none;
}