.Header{
    background-color:rgba(108, 202, 20, 0.466);
    padding-top: 6%;
    display:flex;
    padding-left: 1%;
    align-content: space-evenly;
    gap:15%
}
.Row2{
    background-color:rgba(108, 202, 20, 0.466);
    display:flex;
    padding-left: 1%;
    align-content: space-evenly;
    gap:15%
}
.Header.input{
    border-color:lightslategray;
}