body{
    width:fit-content;
    display: flex;
    background-image: url(./image1.jpeg);
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sub-Div{
    position:fixed;
    border-color: rgba(252, 248, 248, 0.445);
    border-style: dotted;
    margin-top: 35vh;
    margin-left:70vh;
    margin-right: 50vh;
    border-radius: 3vh;
    height: 35vh;
    border-style: groove;
    width: 60vh;
    box-sizing: border-box;
}
#input[type=text]{
    margin-top: 3vh;
    background-image: url(./icon1.png);
    background-repeat: no-repeat;
    background-position:left;
    background-color: rgba(0, 0, 0, 0.301);
    width:53vh;
    border-radius: 0.5vh;
    height: 4vh;
    border-color: rgba(240, 248, 255, 0.377);
    border-width: 0.5vh;
    color:rgba(187, 159, 159, 0.685);
    font-size: 2vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#input[type=password]{
    margin-top: 3vh;
    background-position:left;
    background-image: url(./icon2.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.301);
    width:53vh;
    border-radius: 0.5vh;
    height: 4vh;
    border-color: rgba(240, 248, 255, 0.377);
    border-width: 0.5vh;
    color:rgba(187, 159, 159, 0.685);
    font-size: 2vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
::placeholder{
    font-weight:500;
    font-size: 2vh;
    color:rgb(112, 128, 144);
    padding-left: 4vh;
}
#remember{
    color:rgba(159, 163, 187, 0.486);
    font-weight: 500;
    text-align: left;
    margin-left: 1vh;
}
.check{
    accent-color: #9d3039;
    width:2vh;
    height: 2vh;
    margin-top: 2vh;
    text-align: left;
}
.row3{
    text-align:left;
    margin-left: 3vh;
}
#submit{
    width:55vh;
    margin-top:2vh;
    margin-left:3vh;
    height:5vh;
    border-radius: 1vh ;
    color:gray;
    background-color:  rgba(0, 2, 0, 0.596);
    font-weight: 500;
}
