body{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
.head{
    padding-left:13.2%;
}
.input{
    padding-left:7%;
}
#inp{
    padding-left:8%;
}
#ves{
    padding-left:6%;
}
#rem{
    padding-left:1%;
    width:40%;
}
.sub{
    padding-left:65%;
}
#lead{
    text-align:"center";
}
.dat input[type=date]{
    background-color:lightblue;
    color:rgb(98, 0, 255);
    border:none;
    outline:none;
    border-radius: 5px;
}
.input input[type=text]{
    background-color:rgba(77, 226, 226, 0.404);
    color:black;
    border-color:rgba(255, 255, 0, 0.411);
    outline-color:black;
    border-radius: 3px;
}
#sel{
    width: 10%;
    color:rgb(33, 100, 7);
    outline-width: 5%;
    background-color: rgba(0, 255, 255, 0.356);
    border:none;
}
#loc{
    width: 10%;
    color:rgb(33, 100, 7);
    outline-width: 5%;
    background-color: rgba(0, 255, 255, 0.356);
    border:none;
}
.div4 .sub button[type=submit]{
    color:rgb(253, 249, 0);
    width:5%;
    height: auto;
    border:none;
    background-color: green;
    font-size:20px;
    width:10%;
}
.div4 button[type=submit]{
    color:rgb(253, 249, 0);
    width:5%;
    height: auto;
    border:none;
    background-color: green;
    font-size:20px;
    width:10%;
}
.div4 button[type=reset]{
    color:rgb(253, 249, 0);
    border:none;
    background-color: rgb(233, 89, 5);
    width:10%;
    font-size:20px;
}
#made{
    color:blue;
}
.div1{
    position:fixed
}
.div4{
    padding-left:19%;
    padding-right: 19%;
    padding-top: 19%;
    width:80%;
}
#daterr{
    color:red;
    font-size: 10px;
    display:none;
}
#experr{
    color:red;
    font-size: 10px;
    display:none;
}